MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=nexlab-lake

SPARK_MASTER=spark://spark-master:7077
SPARK_APP_NAME=nexlab-pipeline

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

NYC_TLC_YEAR=2023
NYC_TLC_MONTHS=1,2,3

RAW_ZONE=s3a://nexlab-lake/raw
CURATED_ZONE=s3a://nexlab-lake/curated
